
.Rproj.user/FAEDADB7/pcs/workbench-pane.pper
.Rproj.user/FAEDADB7/pcs/windowlayoutstate.pper
.Rproj.user/FAEDADB7/pcs/source-pane.pper
.Rproj.user/FAEDADB7/pcs/files-pane.pper
.Rproj.user/FAEDADB7/rmd-outputs
.Rproj.user/FAEDADB7/saved_source_markers
.Rproj.user/FAEDADB7/sources/per/t/D41CB03E
.Rproj.user/FAEDADB7/sources/per/t/D41CB03E-contents
.Rproj.user/FAEDADB7/sources/prop/46827BD2
.Rproj.user/FAEDADB7/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/FAEDADB7/sources/s-50BE114F/lock_file
.Rproj.user/FAEDADB7/sources/s-50BE114F/D41CB03E-contents
.Rproj.user/FAEDADB7/sources/s-50BE114F/D41CB03E
